header {
  height: 100%;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: url('../img/clouds.jpeg') no-repeat center;
  background-size: cover;
  --webkit-background-size: cover;
  position: relative;
}
header .headerinfo {
  height: 100%;
  width: 100%;
  position: relative;
}
header .headerinfo .vertical-align {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header .headerinfo .row {
  width: 100%;
}
header .headerinfo h1 {
  color: #4b88a2;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 6px;
}
header .headerinfo h2 {
  color: #252627;
  font-size: 4em;
}
header .headerinfo hr {
  border-top: 1px solid #4b88a2;
  width: 20%;
}
header .headerinfo #linetwo {
  width: 15%;
  margin-top: -10px;
}
header .headerinfo button {
  background-color: #4b88a2;
  color: #d3d4d9;
  font-size: 2em;
}
